#difficulty2 h1, #difficulty2 h3 {
    color: indigo;
    margin: 0 auto 10px auto;
}

#difficulty2 #game_container{
    box-shadow: indigo 0 0 30px;
    border: 5px solid indigo;
}

#difficulty2 #cell0, #cell1 {
    width: 15px;
    height: 15px;
    border: 1px solid indigo;
    padding: 3px 3px;
    background-color: darkviolet;
    font-size: 15px;
  }
  
  #difficulty2 #cell1 {
    background-color: darkorchid;
  }

  #difficulty2 #cell0.revealed {
    background-color: lavender;
  }

  #cell1.revealed {
    background-color: white;
}

  #difficulty2 #new_game_button {
    margin: 5px 225px;
    padding: 10px;
    width: 6em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1.5em;
    border: 5px solid indigo;
    border-radius: 10px;
    color: indigo;
}
  
#difficulty2 #new_game_button:hover {
    font-weight: bold;
    color: white;
    background-color: indigo;
    box-shadow: indigo 0 0 10px;
}

#difficulty2 #mine_count, #difficulty2 #moves_made, #difficulty2 #game_status, #difficulty2 #timer {
    padding: 10px 20px;
    margin: 10px 40px;
    background-color:indigo;
    border-radius: 10px;
}

#difficulty2 #cell0.adj-M, #difficulty2 #cell1.adj-M {
    background-color: red;
}

#difficulty2 #cell0.flagged, #difficulty2 #cell1.flagged {
    background-color: indigo;
}